<mat-card style="margin-bottom:10px">
    <mat-card-title>Redux Card - Add Course</mat-card-title>
    <mat-card-content>
    <p>Total Items in the List: {{ClassDescriptions.length}}</p>
    <form  #myForm="ngForm" (ngSubmit)="onSubmit(); myForm.resetForm()" fxLayout="column" >
        <mat-form-field class="">
            <input matInput placeholder="Course Id"
            required type="number"
            [(ngModel)] = "tmpCourse.id" name="id">
        </mat-form-field>
        <mat-form-field class="">
                <input matInput placeholder="Course Code"
                required type="text"
                [(ngModel)] = "tmpCourse.code" name="code">
        </mat-form-field>
        <mat-form-field class="">
                <input matInput placeholder="Course Level"
                required type="text"
                [(ngModel)] = "tmpCourse.level" name="level">
        </mat-form-field>
        <mat-form-field class="">
                <input matInput placeholder="Course Title"
                 required type="text"
                [(ngModel)] = "tmpCourse.title" name="title">
        </mat-form-field>
        
        <button mat-raised-button type="submit" color="primary"
        (click)="resetMyForm(myForm)"
        >Add to Redux Store</button>
    </form>

    </mat-card-content>
</mat-card>
