<div>
    <mat-card style="margin-bottom:10px">
        <mat-card-title>Parent Card</mat-card-title>
        <mat-card-content>
        <form  (ngSubmit)="onSubmit()" fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Send Message To Child"
                [(ngModel)] = "formMessage" name="formMessage">
            </mat-form-field>
            <p>Counter Update From Child:  
                <span style="color:purple; font-weight:bold">{{eventIdFromChild}}</span>
            </p>
        </form>
    </mat-card-content>
    </mat-card>

    <app-simple-state-child
        [inProperty]="formMessage"
        (updateEvent)="getUpdateFromChild($event)"
    ></app-simple-state-child>
</div>