<mat-card style="margin-bottom:20px">
    <mat-card-title>Child Card</mat-card-title>
    <mat-card-content>
    <p>Data from parent:  <span style="color:purple; font-weight:bold">{{inProperty}}</span></p>
    <form  (ngSubmit)="onSubmit()" fxLayout="column">
        <mat-form-field class="form-container">
            <input matInput placeholder="Counter Value"
            [(ngModel)] = "stateFullCounter" name="stateFullCounter" readonly>
        </mat-form-field>
        
        <button mat-raised-button type="submit" color="primary">Increment and Send</button>
    </form>
    </mat-card-content>
</mat-card>

